.card {
  max-width: 79rem;
  padding: 3rem 2rem 0;
  margin: 3rem auto 0;
  background-color: var(--header-bg-color);

  &__desc {
    font-size: 0.875rem;
  }

  &__footer {
    margin-top: 1.5rem;

    &__link {
      color: var(--heading-color);
      text-decoration: none;
      margin-right: 1.5rem;

      &:last-of-type {
        margin-right: 0;
      }

      svg {
        fill: var(--heading-color);
        margin-right: 7px;
        transform: translateX(0);
        transition: transform 0.2s linear;
      }

      &:hover svg {
        transform: translateX(5px);
      }
    }
  }

  &__picture {
    margin-top: 2rem;
    position: relative;
    height: 70vw;
    overflow: hidden;
  }

  &__picture--front,
  &__picture--back {
    display: block;
    width: 60%;
    max-width: 28rem;
    position: absolute;
    box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.07);
  }

  &__picture--front {
    left: 0;
    z-index: 2;
    margin-top: 0;
  }

  &__picture--back {
    right: 0;
    margin-top: 3rem;
  }

  @include media(sm) {
    &__desc {
      font-size: 1rem;
      line-height: 1.8;
    }
  }

  @include media(lg) {
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    max-width: 75rem;
    height: 39rem;
    margin-top: 5rem;
    padding: 0;

    &__desc {
      grid-column: 4 / 13;
    }

    &__picture {
      position: relative;
      grid-column: 15 / 32;
      overflow: initial;
      height: 100%;

      &--front {
        margin-top: 4.5rem;
      }

      &--back {
        margin-top: -3rem;
      }
    }

    &__footer {
      margin-top: 3rem;

      &__link {
        margin-right: 2.5rem;
      }
    }
  }
}
