.site-footer {
  @extend .container;
  padding: 2rem;
  font-size: 0.9375rem;
  text-align: center;

  & > p {
    margin-bottom: 0;
  }

  @include media(sm) {
    display: flex;
    justify-content: space-between;
    padding: 6rem 2rem 4rem;
  }
}
