.hero {
  padding: 4rem 0 3rem;
  background-color: var(--header-bg-color);
  // @include transition-bg;

  p {
    @extend .lead;
  }

  @include media(sm) {
    padding: 12rem 0 5rem;
  }
}

.emoji {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 1.8rem;
  position: relative;
  top: -4px;

  &:hover {
    animation: wave 2s ease-in-out;
    transform-origin: 70% 70%;
    cursor: default;
  }

  @include media(sm) {
    font-size: 3rem;
  }
}
