.hero {
  padding: 12rem 0 5rem;
  background-color: var(--header-bg-color);
  // @include transition-bg;
}

.emoji {
  display: inline-block;
  margin-left: 0.5rem;
  font-size: 3rem;
  position: relative;
  top: -4px;

  &:hover {
    animation: wave 2s ease-in-out;
    transform-origin: 70% 70%;
    cursor: default;
  }
}
