.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  font-size: 1rem;

  &__item {
    display: inline-block;
    margin-right: 1.5rem;
    color: var(--heading-color);
    text-decoration: none;
    overflow: hidden;
    padding: 0 4px;
    height: 1.25em;

    span {
      position: relative;
      display: inline-block;
      transition: transform 0.3s;
    }

    span::before {
      position: absolute;
      top: 100%;
      content: attr(data-hover);
      transform: translate3d(0, 0, 0);
    }

    &:hover span,
    &:focus span {
      transform: translateY(-100%);
    }
  }

  @include media(sm) {
    font-size: 1.125rem;

    &__item {
      margin-right: 3.125rem;
    }
  }
}
