.project-summary {
  list-style: none;
  margin-bottom: 2rem;

  &__title {
    margin: 0;
  }

  &__item {
    margin-bottom: 1rem;
  }

  &__item--company {
    grid-area: company;
  }

  &__item--year {
    grid-area: year;
  }

  &__item--resp {
    grid-area: resp;
  }

  &__item--status {
    grid-area: status;
  }

  @include media(sm) {
    margin-bottom: 0rem;
    display: grid;
    grid-template-areas:
      'resp year'
      'company status';
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto;
  }
}
