.social {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  font-size: 1.125rem;

  &__link {
    color: var(--heading-color);
    text-decoration: none;
  }

  @include media(sm) {
    margin-top: 2rem;
  }
}
