{% include 'partials/head.njk' %}

<body itemscope itemtype="http://schema.org/WebPage">

  {% include 'partials/header.njk' %}

  {{ content | safe }}

  {% include 'partials/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
