<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ renderData.description or description or metadata.description }}">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body itemscope itemtype="http://schema.org/WebPage">

  {% include 'partials/header.njk' %}
  {% include 'partials/hero.njk' %}

  {{ content | safe }}

  {% include 'partials/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
