{% include 'partials/head.njk' %}

<body itemscope itemtype="http://schema.org/WebPage">

  {% include 'partials/header.njk' %}

  <article class="site-section">
    <div class="container container--narrow">
      {{ content | safe }}
    </div>
  </article>
  
  {% include 'partials/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
