{% include 'partials/head.njk' %}

<body itemscope itemtype="http://schema.org/WebPage">

  {% include 'partials/header.njk' %}

  <div class="hero">
    <div class="hero__intro container container--narrow">
      <h1>{{ title | safe }}</h1>
      {{ intro | markdownify | safe }}
    </div>
  </div>

  <article class="page">
    <div class="container container--narrow">
      {{ content | safe }}
    </div>
  </article>
  
  {% include 'partials/social.njk' %}
  {% include 'partials/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
