{% include 'partials/head.njk' %}

<body itemscope itemtype="http://schema.org/WebPage">

  {% include 'partials/header.njk' %}

  <div class="hero">
    <div class="hero__intro container container--narrow">
      <h2>{{ title }}</h2>
      {{ intro | markdownify | safe }}
    </div>
  </div>

  <article class="site-section project">
    <div class="container container--narrow">

      <ul class="project-summary">
        <li class="project-summary__item project-summary__item--resp">
          <h6 class="project-summary__title">Responsibilities</h6>
          {{ responsibilities }}
        </li>
        <li class="project-summary__item project-summary__item--company">
          <h6 class="project-summary__title">Company</h6>
          {{ company | safe }}
        </li>
        <li class="project-summary__item project-summary__item--year">
          <h6 class="project-summary__title">Year</h6>
          {{ year | safe }}
        </li>
        <li class="project-summary__item project-summary__item--status">
          <h6 class="project-summary__title">Status</h6>
          {{ status | safe }}
        </li>
      </ul>

      {{ content | safe }}

      

    </div>
  </article>
  
  {% include 'partials/footer.njk' %}
  <script src="/scripts/index.js"></script>
</body>
</html>
