:root {
  // light mode colors
  --light-bg-color: #fff;
  --light-header-bg-color: #f7f8f9;
  --light-text-color: #636d83;
  --light-heading-color: #000;
  --light-link-hover-color: #636d8330;

  // dark mode colors
  --dark-bg-color: #2f333b;
  --dark-header-bg-color: #22262f;
  --dark-text-color: #c3bcc8;
  --dark-heading-color: #fff;
  --dark-link-hover-color: #636d8330;
}

:root:not([data-color-scheme]),
:root[data-color-scheme='light'] {
  --bg-color: var(--light-bg-color);
  --header-bg-color: var(--light-header-bg-color);
  --text-color: var(--light-text-color);
  --heading-color: var(--light-heading-color);
  --link-hover-color: var(--light-link-hover-color);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) {
    --bg-color: var(--dark-bg-color);
    --header-bg-color: var(--dark-header-bg-color);
    --text-color: var(--dark-text-color);
    --heading-color: var(--dark-heading-color);
    --link-hover-color: var(--dark-link-hover-color);
  }
}

:root[data-color-scheme='dark'] {
  --bg-color: var(--dark-bg-color);
  --header-bg-color: var(--dark-header-bg-color);
  --text-color: var(--dark-text-color);
  --heading-color: var(--dark-heading-color);
  --link-hover-color: var(--dark-link-hover-color);
}
