---
layout: layouts/base.njk
title: Justyna Ratajczak - Front-end and WordPress developer
---

{% include 'partials/hero.njk' %}

<section class="site-section projects">
  <div class="container container--narrow">
    <h2>Get a glimpse of my work</h2>
    <p>Since 2009 I've been working with agencies and designers to bring their ideas to life using modern development practices. Here's a small selection of short case studies detailing my latest projects.</p>
  </div>

  {% include 'partials/projects.njk' %}

</section>

{% include 'partials/social.njk' %}

