  {% include 'partials/social.njk' %}

  <footer class="site-footer">
    <p>&copy; 2020 Justyna Ratajczak</p>
    <p>No 🍪, no tracking.</p>
  </footer>

  <script src="/scripts/index.js"></script>
  {% include 'partials/fathom.njk' %}
</body>
</html>