<div class="hero">
  <div class="hero__intro container container--narrow">
    <h1>Hi there <span class="emoji emoji--wave">👋🏻</span></h1>
    <p>I'm Justyna – an independent developer focused on building well-coded sites that are performant and accessible to everyone. I help designers and creative agencies keep their clients happy by providing the best solutions WordPress has to offer.</p>
    <p>Looking for an experienced WordPress developer for your next project? Find me on <a href="#">Twitter</a> or <a href="mailto:justyna.ratajczak@gmail.com">e-mail me</a>.</p>
  </div>
</div>