{% for project in collections.projects %}
    
    <article class="card">
      <div class="card__desc">
        <h4 class="card__title">{{ project.data.title }}</h4>
        {{ project.data.description | markdownify | safe }}
        <footer class="card__footer">
        {%- if project.fileSlug != 'pauf' -%}
          <a href="{{ project.url }}" class="card__footer__link"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="10"><path d="M19.77 4.681L15.247.158a.452.452 0 10-.638.638l3.75 3.754H.452a.452.452 0 000 .905H18.36l-3.75 3.75a.452.452 0 10.638.637l4.523-4.523a.452.452 0 000-.638z"/></svg> Case study</a>
        {%- endif -%}
          <a href="{{ project.data.url | url }}" class="card__footer__link"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="10"><path d="M19.77 4.681L15.247.158a.452.452 0 10-.638.638l3.75 3.754H.452a.452.452 0 000 .905H18.36l-3.75 3.75a.452.452 0 10.638.637l4.523-4.523a.452.452 0 000-.638z"/></svg> Visit website</a>
        </footer>
      </div>
      <div class="card__picture">
        {% projectImage projects, project.fileSlug, project.data.title %}
      </div>
    </article>

  {% endfor %}