<section class="site-section">
  <div class="container container--narrow">
    <h2>Let's connect</h2>
    <ul class="social">
      <li>
        <a href="https://twitter.com/hellojusi" class="social__link">
          Twitter
        </a>
      </li>
      <li>
        <a href="https://github.com/hellojusi" class="social__link">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://instagram.com/jusi" class="social__link">
          Instagram
        </a>
      </li>
      <li>
        <a href="mailto:justyna.ratajczak@gmail.com" class="social__link">
          E-mail
        </a>
      </li>
    </ul>
  </div>
</section>




