:root:not([data-color-scheme]),
:root[data-color-scheme='light'] {
  --bg-color: #{$light-bg-color};
  --header-bg-color: #{$light-header-bg-color};
  --text-color: #{$light-text-color};
  --heading-color: #{$light-heading-color};
  --link-color: #{$light-link-color};
  --link-hover-color: #{$light-link-hover-color};
  --link-active-color: #{$light-link-active-color};
  --border-color: #{$light-border-color};
}

@media (prefers-color-scheme: dark) {
  :root:not([data-color-scheme]) {
    --bg-color: #{$dark-bg-color};
    --header-bg-color: #{$dark-header-bg-color};
    --text-color: #{$dark-text-color};
    --heading-color: #{$dark-heading-color};
    --link-color: #{$dark-link-color};
    --link-hover-color: #{$dark-link-hover-color};
    --link-active-color: #{$dark-link-active-color};
    --border-color: #{$dark-border-color};
  }
}

:root[data-color-scheme='dark'] {
  --bg-color: #{$dark-bg-color};
  --header-bg-color: #{$dark-header-bg-color};
  --text-color: #{$dark-text-color};
  --heading-color: #{$dark-heading-color};
  --link-color: #{$dark-link-color};
  --link-hover-color: #{$dark-link-hover-color};
  --link-active-color: #{$dark-link-active-color};
  --border-color: #{$dark-border-color};
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
