body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 79rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

  &--narrow {
    max-width: 66rem;
    & > * {
      max-width: 46rem;
    }
    & > .wide {
      max-width: 79rem;
    }
  }
}

.site-section {
  padding: 3rem 0;

  & + & {
    padding-top: 0;
  }

  @include media(sm) {
    padding: 5rem 0;
  }
}

.wide {
  margin-left: -2rem;
  margin-right: -2rem;
  @include media(sm) {
    margin-left: -6.5rem;
    margin-right: -6.5rem;
  }
}
