body {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.667;
  letter-spacing: -0.1px;

  @include media(sm) {
    font-size: 1.125rem;
  }
}

.lead {
  font-size: 1rem;

  @include media(sm) {
    font-size: 1.3125rem;
  }
}

h1,
h2,
h3,
h4,
h6 {
  line-height: 1.4;
  font-weight: 800;
  letter-spacing: -1px;
  text-rendering: optimizeLegibility;
  margin: 0 0 1.5rem;
  color: var(--heading-color);

  article & {
    margin: 3rem 0 1.5rem;
  }

  & + & {
    margin-top: 0;
  }
}

h1 {
  font-size: 3rem;

  @include media(sm) {
    font-size: 5.25rem;
  }
}

h2 {
  font-size: 1.8rem;
  line-height: 1.2;

  @include media(sm) {
    font-size: 3rem;
  }
}

h3 {
  font-size: 1.5rem;

  @include media(sm) {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.2rem;

  @include media(sm) {
    font-size: 1.5rem;
  }
}

h6 {
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
  @include media(sm) {
    font-size: 1rem;
  }
}

p {
  margin-bottom: 1em;
}

a:not([class]) {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;

  &:hover,
  &:focus {
    color: var(--link-hover-color);
  }

  &:active {
    color: var(--link-active-color);
  }
}

blockquote {
  padding-left: 2rem;
  border-left: 1rem solid var(--header-bg-color);
}

cite {
  margin-top: 2rem;
  display: block;
  text-align: right;
  font-style: normal;
  font-size: smaller;
  text-transform: uppercase;
}

ul {
  margin-left: 1.25rem;
  margin-bottom: 1em;
}

strong {
  font-weight: 800;
}
